#dataTable2 > tbody > tr {
    cursor: pointer;
}

#modal-feedback-description {
    word-break: break-word;
    max-height: 360px;
    overflow-y: auto;
}

.feedback-unread {
    background-color: #edf2fa !important;
}

.feedback-unread:hover {
    background-color: rgba(0, 0, 0, .075) !important;
}
.feedback-time{
    text-align: right;
}
.button-train{
    display: block;
    width: 100px;
    height: 50px;
    font-weight: 600;
    background-color: #21ce2c;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;

}