<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Thông Báo - Safe Vs Dang</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/metisMenu.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.min.css">
	<link rel="stylesheet" href="css/dang-nhap.css">
	<!-- amchart css -->
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
	<!-- others css -->
	<link rel="stylesheet" href="assets/css/typography.css">
	<link rel="stylesheet" href="assets/css/default-css.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- modernizr css -->
	<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- preloader area start -->
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- login area start -->
	<div class="login-area">
		<div class="container">
			<div class="login-box ptb--100">
				<form>
					<div class="login-form-head">
						<h4>Đăng nhập</h4>
						<p>Safety Observation</p>
					</div>
					<div class="login-form-body">
						<div id="form_error" class="alert alert-danger mb-4" role="alert">
							<strong>Tài khoản hoặc mật khẩu không tồn tại.</strong>
						</div>
						<div class="form-gp">
							<label for="input_username">Tài khoản</label>
							<input type="text" id="input_username">
							<i class="ti-user"></i>
						</div>
						<div class="form-gp">
							<label for="input_password">Mật khẩu</label>
							<input type="password" id="input_password">
							<i class="ti-lock"></i>
						</div>
						<!--<div class="row mb-4 rmber-area">-->
							<!--<div class="col-6">-->
								<!--<div class="custom-control custom-checkbox mr-sm-2">-->
									<!--<input type="checkbox" class="custom-control-input" id="customControlAutosizing">-->
									<!--<label class="custom-control-label" for="customControlAutosizing">Lưu thông tin</label>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-6 text-right">-->
								<!--<a href="#">Quên mật khẩu??</a>-->
							<!--</div>-->
						<!--</div>-->
						<div class="submit-btn-area">
							<button id="form_submit" type="button">Đăng nhập <i class="ti-arrow-right"></i></button>
						</div>
						<div class="form-footer text-center mt-5">
							<p class="text-muted">Bạn chưa có tài khoản? <a href="/dang-ky">Đăng ký</a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- login area end -->
	
	<!-- jquery latest version -->
	<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/metisMenu.min.js"></script>
	<script src="assets/js/jquery.slimscroll.min.js"></script>
	<script src="assets/js/jquery.slicknav.min.js"></script>
	
	<!-- others plugins -->
	<script src="assets/js/plugins.js"></script>
	<script src="js/dang-nhap.js"></script>
</body>

</html>